
//$:white: ;
//$:purple: ;
//$:grey: ;

body{
    background: white;
}

.box{
    margin: auto;
    margin-top: 50px;
    background: pink;
    width: 200px;
    height: 270px;
    padding: 3%;
    border-radius: 15px;
    text-align:center;
}

.panel{
    pointer-events: none;
}

.screen{
    width: 80%;
    height: 2.3rem;
    font-size: right;
    background: palevioletred;
    margin: 5%;
    padding: 2%
    
   // border: 2px solid purple;
    //overflow-x: auto;
}

button{
    font-size:1.5rem;
    margin: 2%;
    border-radius: 5px;
    width: 15%;
    cursor:pointer;
    pointer-events: auto;
    color: peachpuff;
    background-color: palevioletred;
}

button:hover{
    opacity:0.9;
    color: darkmagenta;
}

#equal{
    width: 79%;
}