body {
    background-color: palevioletred;
}

.box{
    margin: auto;
    margin-top: 100px;
    background: blueviolet;
    width: 200px;
    padding: 3%;
    border-radius: 15px;
    text-align: center;
}

/*
.panel{
    pointer-events:none;
}

*/

/*
.screen{
    width: 80%;
    height: 2.3rem;
    font-size: 1.7rem;
    text-align: right;
    background: lavender;
    margin: 5%;
    padding: 2%;
    border: 2px solid darkorchid
    
}
*/

/*
.button{
    background: lavenderblush;
}

#equal{
    width: 79%;
}

*/